<!DOCTYPE html>
<html>
<head>
  <title>PayPal Integration</title>
  <script src="https://www.paypal.com/sdk/js?client-id=AdjZfCG4rNaA4umpKRk4QZqqatOZZOCbxUh76usvi2hvvUn1fZrANpuuZMJHFQBPt7js3DpTI1w-tONS"></script>
</head>
<body>
  
  <h1>PayPal Integration Example</h1>
  <button id="payment-button">Make Payment</button>

  <script>
    // Replace YOUR_SERVER_URL with the actual URL of your backend server
    <!-- const SERVER_URL = 'YOUR_SERVER_URL'; -->

    // Function to initiate the payment
    
    // Execute the initiatePayment function when the payment button is clicked
    document.getElementById('payment-button').addEventListener('click', () => {
      initiatePayment();
    });
    
  </script>

  <div id="paypal-button-container"></div>
</body>
</html>
