<!DOCTYPE html>
<html>
<head>
  <title>PayPal Integration</title>
  <script src="https://www.paypal.com/sdk/js?client-id=AdjZfCG4rNaA4umpKRk4QZqqatOZZOCbxUh76usvi2hvvUn1fZrANpuuZMJHFQBPt7js3DpTI1w-tONS"></script>
</head>
<body>
  <h1>PayPal Integration Example</h1>
  <button id="payment-button">Make Payment</button>

  <script>
    // Replace YOUR_SERVER_URL with the actual URL of your backend server
    <!-- const SERVER_URL = 'YOUR_SERVER_URL'; -->

    // Function to initiate the payment
    function initiatePayment() {
 
      fetch(`/payments/initiate`, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          // Include necessary payment data
            "items": [
              {
                product: "64ab0d9d46ffbca2531a4141",
                quantity: 3,
              },
            ],
            "address": "Hello"
          // ...
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          const orderDatabaseId = data.orderDatabaseId
          const paypalOrderId = data.orderId;

          // Render the PayPal button with the obtained PayPal Order ID
          paypal.Buttons({
            createOrder: function () {
              return paypalOrderId
            },
            onApprove: function (data) {
              console.log(data)
              // Make the API request to verify the payment
              fetch(`/payments/${orderDatabaseId}/verify`, {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                  orderId: data.orderID,
                }),
              })
                .then((response) => response.json())
                .then((data) => {
                  if (data.success) {
                    // Payment verified successfully
                    // Proceed with further actions
                  } else {
                    // Payment verification failed
                  }
                });
            },
          }).render('#paypal-button-container');
        })
        .catch((error) => {
          console.error('Error:', error);
          // Handle any errors during the payment initiation process
        });
    }
    // Execute the initiatePayment function when the payment button is clicked
    document.getElementById('payment-button').addEventListener('click', () => {
      initiatePayment();
    });
    
  </script>

  <div id="paypal-button-container"></div>
</body>
</html>
